<header class="header">
  <nav class="header__nav">
    <a href="/">
      <img src="/src/assets/images/wekter_logo.png" alt="Wekter Logo" />
    </a>
    <div class="header__container">
      <ul class="header__list">
        <li>
          Oferta <span><img src="/src/assets/icons/arrow-down.png" alt="Arrow Icon" /></span>
          <div class="header__offers">
            <div class="header__offer">
              <div class="header__offer-header">
                <div>
                  <img src="/src/assets/icons/briefcase.png" alt="Briefcase Icon" />
                </div>
                <h3>Biznes</h3>
              </div>
              <ul class="header__offer-list">
                <li>Air Taxi <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
                <li>Cargo <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
                <li>Eventy i wydarzenia <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
                <li>Udziały <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
                <li>Fotografowanie i filmowanie <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
              </ul>
            </div>  
            <div class="header__offer">
              <div class="header__offer-header">
                <div>
                  <img src="/src/assets/icons/briefcase.png" alt="Briefcase Icon" />
                </div>
                <h3>loty widokowe</h3>
              </div>
              <ul class="header__offer-list">
                <li>Loty widokowe <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
                <li>Loty grupowe <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
                <li>Loty zapoznawcze <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
                <li>Zaręczyny <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
                <li>Szkolenia licencyjne dla pilotów <span><img src="/src/assets/icons/arrow-side.png" alt="Arrow Icon" /></span></li>
              </ul>
            </div>
          </div>
        </li>
        <li>O nas</li>
        <li>Vouchery</li>
        <li>
          Heliporty <span><img src="/src/assets/icons/arrow-down.png" alt="Arrow Icon" /></span>
        </li>
        <li>Blog</li>
        <li>Kontakt</li>
      </ul>
    </div>
    <div class="header__buttons">
      <div class="header__switch">
        <button class="header__button">Loty widokowe</button>
        <button class="header__button">Loty biznesowe</button>
        <div class="header__button--slider"></div>
      </div>
      <img src="/src/assets/icons/flag.png" alt="Flag Icon" />
      <img src="/src/assets/icons/profile.png" alt="Profile Icon" />
      <div class="header__icon-container">
        <img src="/src/assets/icons/shopping-bag.png" alt="Shopping Bag Icon" />
      </div>
    </div>
  </nav>
</header>
