<header class="header">
  <nav class="header__nav">
    <a href="/">
      <img src="/src/assets/images/wekter_logo.png" alt="Wekter Logo" />
    </a>
    <div class="header__container">
      <ul class="header__list">
        <li>
          Oferta <span><img src="/src/assets/icons/arrow-down.png" alt="Arrow Icon" /></span>
        </li>
        <li>O nas</li>
        <li>Vouchery</li>
        <li>
          Heliporty <span><img src="/src/assets/icons/arrow-down.png" alt="Arrow Icon" /></span>
        </li>
        <li>Blog</li>
        <li>Kontakt</li>
      </ul>
      <div class="header__offers">
        
      </div>
    </div>
    <div class="header__buttons">
      <div class="header__switch">
        <button class="header__button">Loty widokowe</button>
        <button class="header__button">Loty biznesowe</button>
        <div class="header__button--slider"></div>
      </div>
      <img src="/src/assets/icons/flag.png" alt="Flag Icon" />
      <img src="/src/assets/icons/profile.png" alt="Profile Icon" />
      <div class="header__icon-container">
        <img src="/src/assets/icons/shopping-bag.png" alt="Shopping Bag Icon" />
      </div>
    </div>
  </nav>
</header>
