@use "variables" as *;
.baner {
  @include respond-to("desktop") {
    width: 100%;
    position: relative;
    min-height: 450px;
    &__image {
      width: 100%;
      height: 100%;
      min-height: 450px;
      object-fit: cover;
    }
    &__content {
      position: absolute;
      color: $white;
      font-family: $font-family-primary;
      left: 80px;
      display: flex;
      flex-direction: column;
      max-width: 45%;
      &--high {
        top: 150px;
      }
      &--low {
        top: 250px;
      }
    }
    &__link-wrapper {
      display: flex;
      gap: 8px;
      align-items: center;
    }
    &__link {
      margin-bottom: $margin-medium;
      display: flex;
      gap: 8px;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-wrap: nowrap;
      flex-wrap: wrap;
      img {
        filter: invert(1);
        width: 9px;
        height: 9px;
        transform: translateY(-2px);
      }
      & a:first-of-type::after {
        display: block;
        content: "";
        width: 0%;
        height: 2px;
        background-color: $white;
        transition: all 0.2s ease-in-out;
      }
      a:first-of-type:hover::after {
        width: 100%;
      }
    }
    &__title {
      &--small {
        font-size: clamp(36px, 3vw, 48px);
        line-height: 56px;
        font-weight: 500;
      }
      &--big {
        font-family: $font-family-header;
        font-size: clamp(48px, 3vw, 64px);
        line-height: 72px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        max-width: 600px;
      }
    }
    &__text {
      font-weight: 400;
      opacity: 0.7;
      line-height: 24px;
      letter-spacing: 0.04em;
      max-width: 600px;
      &--big {
        font-size: 20px;
        letter-spacing: unset;
        max-width: 100%;
        line-height: 28px;
      }
    }
  }
  @include respond-to("large") {
    &__content {
      &--high {
        top: 100px;
      }
      &--low {
        top: 125px;
      }
    }
    &__title {
      &--big {
        line-height: 56px;
      }
    }
  }
  @include respond-to("medium") {
    &__content {
      max-width: 70%;
      left: 40px;
    }
    &__title {
      line-height: 40px;
      &--big {
        line-height: 56px;
      }
    }
  }
  @include respond-to("small") {
    &__title {
      &--big {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
}
