@use "variables" as *;
.fleet {
  @include respond-to("desktop") {
    padding: 120px 80px;
    font-family: $font-family-primary;
    color: $white;
    &__logo {
      background-color: $backgrounddark;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 10px;
      padding: $padding-small 10px;
      color: $white;
      font-family: $font-family-header;
      font-size: 10px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      width: max-content;
      margin-bottom: 60px;
      span {
        line-height: 18px;
        transform: translateY(1px);
        text-wrap: nowrap;
      }
    }
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__choppers {
      display: flex;
      gap: 60px;
    }
    &__choppers-info {
      &--small {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 37%;
      }
      &--big {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 51%;
      }
    }
    &__examples {
      display: flex;
      width: 59%;
      border-left: 1px solid $gray;
      height: 570px;
      .swiper-wrapper {
        display: none;
      }
      .swiper-pagination-examples {
        display: none;
      }
    }
    &__example {
      padding-inline: 24px;
      border-right: 1px solid $gray;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      img {
        filter: grayscale(1);
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        img {
          filter: none;
        }
        .fleet__example-index,
        .fleet__example-header {
          opacity: 1;
        }
      }
      &--active {
        padding-inline: 24px;
        border-right: 1px solid $gray;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.2s ease-in-out;
        gap: 24px;
        div {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        img {
          border-radius: 4px;
        }
      }
    }
    &__example-index {
      color: $white;
      opacity: 0.4;
      font-weight: 700;
      transition: all 0.2s ease-in-out;
      &--active {
        color: $headerblue;
        font-weight: 700;
      }
    }
    &__example-header {
      font-family: $font-family-header;
      opacity: 0.4;
      font-size: clamp(16px, 1.5vw, 20px);
      max-width: 250px;
      transition: all 0.2s ease-in-out;
      &--active {
        font-family: $font-family-header;
        font-size: clamp(16px, 1.5vw, 20px);
        max-width: 250px;
      }
    }
    &__example-text {
      display: none;
      &--active {
        font-size: clamp(16px, 1.5vw, 20px);
        font-weight: 300;
        line-height: 24px;
      }
    }
    &__advantages {
      display: flex;
      margin-top: 60px;
      width: 100%;
    }
    &__advantages-content {
      display: flex;
      flex-direction: column;
      padding-right: 40px;
      width: 50%;
      overflow: hidden;
    }
    &__advantages-element {
      display: flex;
      flex-direction: column;
      transition: all 0.5s ease-in-out;
      position: relative;
        background-color: $black;
      &:last-of-type::before {
        width: 100%;
        content: "";
        height: 2px;
        background: linear-gradient(
          to right,
          $white 0%,
          $white 50%,
          $gray 50%,
          $gray 100%
        );
        opacity: 0.8;
      }
      &--active {
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: relative;
        background-color: $black;
        transition: all 0.5s ease-in-out;
        &:last-of-type::before {
          width: 100%;
          content: "";
          height: 2px;
          background: linear-gradient(
            to right,
            $gray 0%,
            $gray 50%,
            $white 50%,
            $white 100%
          );
          opacity: 0.8;
        }
      }
    }
    &__advantages-header {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-block: 44px;
      font-family: $font-family-header;
      opacity: 0.4;
      font-size: clamp(16px, 1.5vw, 20px);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      line-height: 20px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      span {
        font-family: $font-family-primary;
        font-weight: 700;
        font-size: 16px;
        color: $white;
      }

      &--active {
       display: flex;
      align-items: center;
      gap: 16px;
      padding-block: 44px;
      font-family: $font-family-header;
        font-size: clamp(16px, 1.5vw, 20px);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      line-height: 20px;
      transition: all 0.2s ease-in-out;
        span {
          font-family: $font-family-primary;
          font-weight: 700;
          font-size: 16px;
          color: $headerblue;
        }
      }
    }
    &__advantages-text {
      margin-bottom: 44px;
        transition: all 0.5s ease-in-out;
        font-weight: 300;
        font-size: clamp(15px, 1vw, 20px);
        line-height: 24px;
      &--active {
        position: relative;
        background-color: $black;
        margin-bottom: 44px;
        transition: all 0.5s ease-in-out;
        font-weight: 300;
        font-size: clamp(15px, 1vw, 20px);
        line-height: 24px;
      }
    }
    &__advantages-cities {
      background-image: url("/src/assets/images/advantages-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 68px 42px;
      border-radius: 4px;
    }
    &__advantages-cities-container {
      background-color: $white;
      border-radius: 20px;
      padding: $padding-large;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
    }
    &__advantages-cities-header {
      display: flex;
      justify-content: space-between;
      color: $black;
    }
    &__advantages-cities-header-text {
      font-weight: 400;
      font-size: clamp(14px, 1vw, 24px);
      line-height: 32px;
      width: calc((100% - 20px) / 2);
    }
    &__advantages-cities-buttons {
      display: flex;
      align-items: center;
      position: relative;
      padding-block: 5px;
      border-radius: 6px;
      background-color: $graybuttons;
      width: calc((100% - 20px) / 2);
    }
    &__advantages-city {
      width: 50%;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      color: $headergraysmall;
      position: relative;
      z-index: 1;
      cursor: pointer;
      &--active {
        width: 50%;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        position: relative;
        z-index: 1;
      }
    }
    &__advantages-city-switch {
      position: absolute;
      width: 50%;
      background-color: $white;
      border-radius: 6px;
      top: 0px;
      left: 3px;
      transform: translateY(8%);
      height: 85%;
      box-shadow: 0px 2px 4px #0f141926;
      transition: all 0.5s ease-in-out;
    }
    &__advantages-block {
      height: 320px;
      margin-top: 32px;
      overflow-y: scroll;
      width: 100%;
    }
    &__advantages-table {
      display: none;
      &--active {
        width: 100%;
        tr:first-of-type {
          height: 42px;
          color: $headergray;
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
          position: sticky;
          top: 0;
          z-index: 1;
          background-color: $white;
        }
        th {
          padding: 12px $padding-medium;
        }
        td {
          padding: $padding-medium;
          span {
            color: $blue;
            cursor: pointer;
            font-weight: 600;
            text-decoration: underline;
            text-underline-offset: 5px;
            transition: all 0.2s ease-in-out;
            &:hover {
              opacity: 0.7;
            }
          }
          &:first-of-type {
            width: 45%;
          }
          &:nth-of-type(2) {
            width: 27%;
          }
        }
        tr {
          height: 50px;
          color: $textdark;
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
        }
      }
    }
  }
  @include respond-to("large") {
    padding: 60px 80px;
    &__examples {
      height: 500px;
    }
    &__advantages-header {
      padding-block: 30px;
      &--active {
        padding-block: 30px;
      }
    }
  }
  @include respond-to("medium") {
    &__advantages-cities-header {
      flex-direction: column;
      gap: 5px;
    }
    &__advantages-cities-header-text {
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
    &__advantages-cities-buttons {
      width: 100%;
    }
    &__advantages-table {
      &--active {
        th {
          padding: $padding-small 12px;
        }
        td {
          padding: 12px;
        }
      }
    }
    &__examples {
      height: 420px;
    }
    &__advantages-cities {
      width: 70%;
      padding: 120px 42px;
    }
  }
  @include respond-to("small") {
    padding: 72px 20px;
    overflow: hidden;
    border-bottom: 1px solid $headergray;
    &__logo {
      padding: 5px 10px;
      margin-bottom: 30px;
      span {
        font-size: 10px;
      }
    }
    &__choppers {
      flex-direction: column;
      gap: 48px;
    }
    &__choppers-info {
      &--small,
      &--big {
        width: 100%;
        gap: 16px;
      }
    }
    &__container {
      flex-direction: column;
      align-items: none;
    }
    &__examples {
      height: auto;
      width: 100%;
      position: relative;
      border-left: none;
      .swiper-wrapper {
        display: flex;
      }
      .swiper-slide {
        filter: grayscale(1);
        opacity: 0.6;
      }
      .swiper-slide-active {
        filter: grayscale(0);
        opacity: 1;
      }
      .swiper-pagination-examples {
        position: absolute;
        display: flex;
        transform: translateY(50px) translateX(45%);
      }
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: $gray;
        opacity: 1;
        &-active {
          background-color: $white;
        }
      }
    }
    &__example {
      &--active {
        display: none;
      }
      display: none;
    }
    &__swiper-index {
      font-weight: 700;
      color: $blue;
      margin-bottom: 10px;
    }
    &__swiper-header {
      margin-bottom: 10px;
      font-family: $font-family-header;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
    &__swiper-text {
      line-height: 24px;
      margin-bottom: $margin-medium;
      height: 120px;
    }
    &__advantages {
      margin-top: $margin-large;
      flex-direction: column;
    }
    &__advantages-content {
      width: 100%;
      padding-right: 0;
      height: auto;
    }
    &__advantages-text {
      &--active {
        font-size: 20px;
      }
    }
    &__advantages-cities-container {
      padding: 24px $padding-medium;
    }
    &__advantages-cities {
      width: 100%;
      padding: 20px;
    }
    &__advantages-cities-header {
      gap: 16px;
    }
    &__advantages-cities-header-text {
      font-size: 24px;
      text-align: left;
    }
    &__advantages-block {
      height: 200px;
    }
    &__advantages-table {
      &--active {
        tr {
          td:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }
}
