@use "variables" as *;
.introduction {
  @include respond-to("desktop") {
    background-color: $white;
    &__container {
      background-color: $beige;
      padding-block: 80px 0;
      margin-inline: auto;
      max-width: 95%;
      border-radius: 8px;
      position: relative;
      z-index: 1;
    }
    &__informations {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 48px;
      padding-bottom: 80px;
      border-bottom: 1px solid $grayborder;
      padding-inline: 170px;
    }
    &__statistics {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 28px;
      padding-block: $padding-extra;
      padding-inline: 170px;
    }
    &__statistics-block {
      width: calc((100% - 56px) / 3);
      padding-block: 40px;
      padding-left: $padding-large;
      border: 1px solid $grayborder;
      border-radius: 8px;
      display: flex;
      gap: 32px;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.2s ease-in-out;
    }
    &__statistics-block-icon {
      width: 50px;
      height: 50px;
      background-color: #00383214;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;
    }
    &__statistics-block-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: $font-family-header;
      p:first-of-type {
        font-size: 28px;
      }
      p:last-of-type {
        color: $headergray;
        font-size: 18px;
        font-family: $font-family-primary;
      }
    }
    &__text-content {
      width: calc((100% - 48px) / 2);
      display: flex;
      flex-direction: column;
      gap: 32px;
      color: $textdark;
      font-family: $font-family-primary;
      min-height: 460px;
    }
    &__header {
      font-weight: 500;
        font-size: clamp(20px, 1.5vw, 24px);
        line-height: 32px;
    }
    &__text {
      font-weight: 300;
        font-size: clamp(16px, 1.5vw, 20px);
        line-height: 24px;
        margin-bottom: 24px;
    }
    &__mosaic {
        width: calc((100% - 48px) / 2);
        min-height: 460px;
      &--desktop {
        position: relative;
        min-height: 460px;
        img:first-of-type {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 73%;
          height: auto;
          max-height: 87%;
          object-fit: cover;
          border-radius: 4px;
        }
        img:last-of-type {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 2;
          width: 46%;
          height: auto;
          max-height: 54%;
          border-radius: 4px;
          object-fit: cover;
        }
      }
      &--mobile {
        display: none;
      }
    }
  }
  @include respond-to("large") {
    &__container {
      padding-block: 40px 0px;
    }
    &__informations {
      padding-bottom: 40px;
      padding-inline: 100px;
    }
    &__statistics {
      padding-inline: 100px;
    }
    &__statistics-block {
      padding-block: 20px;
      padding-left: $padding-medium;
    }
    &__statistics-block-icon {
      width: 35px;
      height: 35px;
    }
    &__statistics-block-text {
      p:first-of-type {
        font-size: 20px;
      }
      p:last-of-type {
        font-size: 14px;
      }
    }
  }
  @include respond-to("medium") {
    &__statistics-block {
      gap: 16px;
    }
    &__statistics-block-text {
      p:first-of-type {
        font-size: 18px;
      }
      p:last-of-type {
        font-size: 12px;
      }
    }
  }
  @include respond-to("small") {
    &__container {
      margin-inline: 20px;
      padding-block: $padding-extra 0px;
    }
    &__informations {
      flex-direction: column;
      padding-inline: 20px;
    }
    &__text-content {
      width: 100%;
      gap: 24px;
      min-height: auto;
    }
    &__header {
      line-height: 28px;
    }
    &__text {
      margin-bottom: 0;
    }
    &__mosaic {
      display: flex;
      width: 100%;
      gap: 8px;
      min-height: auto;
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
        width: calc((100% - 8px) / 2);
      }
    }
    &__statistics {
      padding-inline: 20px;
      padding-block: 20px;
    }
    &__statistics-block {
      padding: 30px;
      width: 100%;
      &:not(:first-of-type) {
        display: none;
      }
    }
    &__statistics-block-icon {
      height: 50px;
      width: 50px;
    }
    &__statistics-block-text {
      p:first-of-type {
        font-size: 28px;
        line-height: 40px;
      }
      p:last-of-type {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
