@use "variables" as *;
.offers {
  @include respond-to("desktop") {
    background-color: $white;
    &__container {
      background-color: $beige;
      padding-block: 80px 120px;
      margin-inline: auto;
      max-width: 95%;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      margin-top: -80px;
    }
    &__header {
      &--small {
        padding-top: 40px;
        font-family: $font-family-header;
        color: $headergray;
        text-align: center;
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
      }
      &--big {
        font-family: $font-family-primary;
        text-align: center;
        margin-block: 24px;
        font-size: clamp(32px, 3vw, 48px);
        margin-inline: 25%;
        line-height: 1.2;
        font-weight: 500;
      }
    }
    &__buttons {
      margin-inline: auto;
      width: min-content;
      display: flex;
    }
    &__button {
      &--blue {
        padding: 8px 20px;
        text-transform: uppercase;
        border: 2px solid $blue;
        background-color: $blue;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: $white;
        text-wrap: nowrap;
        max-width: min-content;
        &:hover {
          background-color: $white;
          color: $blue;
        }
      }
      &--white {
        padding: $padding-small 20px;
        text-transform: uppercase;
        border: 2px solid $beige;
        background-color: $beige;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: $headergray;
        text-wrap: nowrap;
        max-width: min-content;
        &:hover {
          background-color: $white;
          color: $blue;
          border: 2px solid $blue;
        }
      }
    }
    &__list {
      padding-inline: 170px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      margin-block: $margin-large 0;
    }
    &__list-element {
      display: flex;
      gap: 24px;
      border-radius: 4px;
      width: 100%;
    }
    &__list-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $white;
      width: 100%;
      padding: $padding-large;
      gap: 16px;
      font-family: $font-family-primary;
      position: relative;
      border: 2px solid $white;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        border: 2px solid $black;
        div {
          margin-left: 20px;
        }
      }
      div {
        width: 31px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
      }
      p {
        font-size: clamp(20px, 2vw, 28px);
      }
      span {
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 700;
        color: $headergray;
      }
    }
    &__show-more {
      margin-top: 48px;
      color: $blue;
      font-family: $font-family-secondary;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      text-decoration: underline;
      margin-inline: auto;
      width: min-content;
      text-wrap: nowrap;
      text-underline-offset: 10px;
      text-decoration-thickness: 2px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $black;
      }
    }
  }
  @include respond-to("large") {
    &__container {
      padding-block: 40px 100px;
    }
    &__list {
      padding-inline: 100px;
    }
  }
  @include respond-to("small") {
    &__container {
      margin-top: -40px;
      margin-inline: 20px;
      padding-block: 0px 100px;
    }
    &__header {
      &--small {
        padding-top: $padding-extra;
      }
      &--big {
        margin-inline: 20px;
        line-height: 40px;
      }
    }
    &__buttons {
      display: none;
    }
    &__list {
      margin-block: $margin-small 0px;
      padding-inline: 20px;
    }
    &__list-element > img {
      display: none;
    }
    &__list-container {
      padding: 24px $padding-medium;
      gap: 8px;
      div {
        width: 24px;
        height: 24px;
      }
      span {
        right: 16px;
        font-size: 14px;
      }
    }
  }
}
