@use "variables" as *;
.section {
  @include respond-to("desktop") {
    &--animated {
      margin-top: -15vh;
    }
    &--black {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      color: $white;
      padding-bottom: 44px;
      background: linear-gradient($black 0%, $black calc(100% - 44px), $white calc(100% - 44px) , $white 100%);
      &--padding {
        padding: 80px 80px 0px;
      }
      &__header {
        margin: 140px 280px 140px;
        font-family: $font-family-primary;
        font-size: clamp(24px, 2vw, 36px);
        font-weight: 300;
        text-align: center;
        line-height: 52px;
        .line {
          opacity: 0.2;
          transform: translateY(10px);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;
          span {
            text-decoration: underline;
            text-underline-offset: 8px;
            opacity: 0.5;
            transition: all 0.2s ease-in-out;
            &:hover {
              opacity: 1;
            }
          }
        }
        .visible {
          opacity: 1;
          transform: translateY(0);
        }
      }
      &__text {
        font-family: $font-family-primary;
        font-size: clamp(24px, 3vw, 36px);
        line-height: 52px;
        margin-inline: 22%;
        margin-block: $margin-medium $margin-large;
        text-align: center;
      }
      &__gallery {
        width: calc(100% - 240px);
        display: flex;
        justify-content: space-between;
        img:first-of-type {
          width: calc((100% - 24px)/2);
          margin-bottom: 10%;
        }
        img:last-of-type {
          width: calc((100% - 24px)/2);
          margin-top: 10%;
        }
      }
      &__image {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
  @include respond-to("large") {
    &--black {
      &__header {
        margin: 140px 260px 70px;
      }
      &__text {
        margin-inline: 10%;
        line-height: 42px;
      }
      &__gallery {
        width: 100%;
      }
    }
  }
  @include respond-to("medium") {
    &--black {
      &--padding {
        padding: 40px 20px 0px;
      }
      &__header {
        margin: 140px 120px 70px;
      }
    }
  }
  @include respond-to("small") {
    &--black {
      &__header {
        line-height: 32px;
        margin: 100px 20px 96px;
      }
      &__text {
        margin-inline: 0px;
        line-height: 36px;
      }
      &__gallery {
        img:first-of-type {
          width: calc((100% - 16px)/2);
          margin-bottom: 10%;
        }
        img:last-of-type {
          width: calc((100% - 16px)/2);
          margin-top: 10%;
        }
      }
    }
  }
}
