$black: #000;
$white: #fff;
$blue: #3B5EAB;
$gray: #323232;
$headergray: #727272;
$grayborder: #DEDEDE;
$beige: #f7f7f7;
$graybuttons: #f3f3f4;
$textdark: #2B2B2B;
$backgrounddark: #313131;
$headerblue: #5C79B9;
$headergraysmall: #57585C;
$swiperborder: #F2DEE5;
$ringoutside: #f3f3f3;
$ringinside: #f8f8f8;
$link: #c5c5c5;
$footerborder: #3a3a3a;