@use "variables" as *;
.vouchers {
  @include respond-to("desktop") {
    padding: 80px 80px 120px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: $font-family-primary;
  background-color: $white;
  &__voucher {
    background-color: $ringoutside;
    padding-block: 80px;
    display: flex;
    align-items: center;
  }
  &__image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__image-popular {
    position: absolute;
    top: -56px;
    left: 24px;
    background-color: $red;
    display: flex;
    align-items: center;
    gap: 6px;
    color: $white;
    font-family: $font-family-header;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 20px;
  }
  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__content-text {
    max-width: 552px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h4 {
      font-size: 24px;
      line-height: 32px;
      font-family: $font-family-header;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
    p {
      line-height: 24px;
      color: $textdark;
    }
  }
  &__icons {
    display: flex;
    gap: 28px;
    div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      justify-content: center;
      img {
        height: 43px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        color: $textdark;
        text-align: center;
      }
    }
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 32px;
    p {
      font-family: $font-family-header;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      width: 180px;
    }
    div {
      display: flex;
      gap: 16px;
      a {
        font-family: $font-family-secondary;
        padding: $padding-medium $padding-extra;
        border: 2px solid $blue;
        color: $blue;
        background-color: transparent;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
  &__details {
    background-color: $beige;
    padding: 0px 80px 56px;
    position: relative;
    margin-top: 120px;
    font-family: $font-family-primary;
  }
  &__nav {
    display: flex;
    padding-block: 22px;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    img {
      width: 9px;
      height: 9px;
    }
    a {
      &::after {
        display: block;
        content: "";
        width: 0%;
        height: 2px;
        background-color: $black;
        transition: all 0.2s ease-in-out;
      }
    }
    a:hover::after {
      width: 100%;
    }
  }
  &--black-header {
    .header {
      color: $black;
    }
    .header__nav {
      a:first-of-type {
        img {
          filter: invert(1);
        }
      }
    }
    .header__buttons {
      img:not(:first-of-type) {
        filter: invert(1);
      }
      div {
        img {
          filter: invert(1);
        }
      }
    }
  }
  &__details-main {
    display: flex;
    justify-content: space-between;
    padding-block: 32px 80px;
    width: 100%;
  }
  &__details-photo {
    width: 57%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__details-image {
    width: 100%;
    object-fit: cover;
  }
  &__details-abs {
    position: absolute;
    top: 24px;
    left: 24px;
    background-color: $red;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    color: $white;
    font-family: $font-family-header;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 8px 10px;
  }
  &__details-block {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
  }
  &__details-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    h3 {
      font-family: $font-family-header;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }
  &__details-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
  &__details-text {
    line-height: 24px;
    color: $textdark;
    margin-bottom: 16px;
  }
  &__details-info {
    display: flex;
    gap: 12px;
    align-items: center;
    color: $blue;
    span {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      img {
        height: 24px;
      }
    }
    div {
      background-color: $grayborder;
      width: 1px;
      height: 24px;
    }
  }
  &__details-buttons {
    display: flex;
    gap: 16px;
  }
  &__details-counter {
    display: flex;
    padding: 14px 16px;
    background-color: $white;
    border: 1px solid $formBorder;
    align-items: center;
    gap: 8px;
    div {
      display: flex;
      align-items: center;
    }
    img {
      width: 20px;
      height: 20px;
    }
    span {
      width: 14px;
      display: flex;
      justify-content: center;
    }
  }
  &__details-button {
    filter: invert(93%) sepia(1%) saturate(38%) hue-rotate(314deg) brightness(90%) contrast(110%);
  }
  &__details-button-active {
    filter: invert(32%) sepia(70%) saturate(756%) hue-rotate(186deg) brightness(70%) contrast(82%);
    cursor: pointer;
  }
  &__details-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  &__details-desc {
    line-height: 24px;
    color: $footerborder;
  }
  &__details-medias {
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    border-top: 1px solid $grayborder;
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.04em;
      color: $textdark;
    }
  }
  &__details-icons{
    display: flex;
    gap: 8px;
    a {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid $footerborder;
      img {
        filter: invert(1);
      }
    }
  }
  &__similar {
    padding: 80px;
    background-color: $white;
    font-family: $font-family-primary;
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3 {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
    }
  }
  &__similar-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    li {
      width: calc((100% - 84px)/4);
      border: 1px solid $grayborder;
    }
  }
  &__similar-photo {
    width: 100%;
    padding: 24px;
    background-color: $beige;
    position: relative;
  }
  &__similar-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__similar-header {
    font-family: $font-family-header;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  &__similar-price {
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $footerborder;
    }
    div {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue;
    }
  }
  &__similar-abs {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: $red;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    color: $white;
    font-family: $font-family-header;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 4px 8px;
  }
  }
  @include respond-to("large") {
    padding: 30px;
    &__image-popular {
      top: -10px;
      left: -10px;
    }
    &__image {
      width: 35%;
    }
    &__voucher {
      padding: 30px;
      gap: 30px;
    }
    &__content-text{
      h4 {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &__links {
      gap: 16px;
      p {
        font-size: 18px;
        line-height: 24px;
        text-wrap: nowrap;
      }
    }
    &__details-photo {
      width: 35%;
    }
    &__details-block {
      width: 60%;
    }
    &__similar-header {
      font-size: 14px;
    }
  }
  @include respond-to("medium") {
    &__voucher {
      gap: 0px;
      flex-direction: column;
    }
    &__image {
      width: 100%;
    }
    &__content {
      width: 100%;
    }
    &__details {
      margin-top: 80px;
      padding: 0px 30px 30px; 
    }
    &__details-main {
      flex-direction: column;
      padding: 0px;
    }
    &__details-photo {
      width: 100%;
    }
    &__details-block {
      width: 100%;
    }
    &__similar {
      padding: 30px;
    }
    &__similar-list {
      flex-wrap: wrap;
      gap: 28px;
      li {
        width: calc((100% - 28px)/2);
      }
    }
  }
  @include respond-to("small") {
    &__links {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      div {
        flex-direction: column;
      }
      a {
        font-size: 12px;
      }
    }
    &__nav {
      a {
        font-size: 8px;
        text-wrap: nowrap;
      }
      img {
        transform: translateY(-2px);
      }
    }
    &__details-abs {
      font-size: 7px;
      left: 12px;
      top: 12px;
      padding: 4px 10px;
    }
    &__details-main {
      gap: 16px;
    }
    &__details-container {
      h3 {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &__details-counter {
      width: 100%;
      max-width: fit-content;
    }
    &__similar-list {
      li {
        width: 100%;
      }
    }
  }
}
