<section class="fleet">
  <div class="fleet__logo">
    <img src="/src/assets/icons/wekter-icon.svg" alt="Wekter Icon" />
    <span>Flota Wekter Helicopters</span>
  </div>
  <div class="fleet__choppers">
    <div class="fleet__choppers-info--small">
      <h3 class="headers headers--big headers--white">Nasza flota - Twoja podniebna przygoda</h3>
      <p class="texts--small texts--width-small">Nasze helikoptery to połączenie nowoczesnej technologii, najwyższego komfortu i niezawodnego bezpieczeństwa.</p>
      <button class="button button--blue button--long">Więcej informacji</button>
    </div>
    <div class="fleet__examples">
      <div class="fleet__example--active">
        <div>
          <p class="fleet__example-index--active">01</p>
          <h4 class="fleet__example-header--active">Robinson R66 Turbine</h4>
          <p class="fleet__example-text--active">
            Najpopularniejszy czteromiejscowy śmigłowiec świata, stworzony specjalnie dla lotnictwa cywilnego. Helikopter ten zaliczany jest do najbezpieczniejszych śmigłowców na świecie.
          </p>
        </div>
        <img class="fleet__example-image--active" src="/src/assets/images/chopper1.jpg" alt="Chopper" />
      </div>
      <div class="fleet__example">
        <div>
          <p class="fleet__example-index">02</p>
          <h4 class="fleet__example-header">Robinson R44 Raven II</h4>
          <p class="fleet__example-text">Śmigłowiec z silnikiem turbinowym posiadający 4 miejsca pasażerskie i dużą dodatkową przestrzeń bagażową, w którą zmieścisz 2-3 walizki kabinowe.</p>
        </div>
        <img src="/src/assets/images/chopper2.jpg" alt="Chopper" />
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p class="fleet__swiper-index">01</p>
          <h4 class="fleet__swiper-header">Robinson R66 Turbine</h4>
          <p class="fleet__swiper-text">
            Najpopularniejszy czteromiejscowy śmigłowiec świata, stworzony specjalnie dla lotnictwa cywilnego. Helikopter ten zaliczany jest do najbezpieczniejszych śmigłowców na świecie.
          </p>
          <img src="/src/assets/images/chopper1.jpg" alt="Chopper" />
        </div>
        <div class="swiper-slide">
          <p class="fleet__swiper-index">02</p>
          <h4 class="fleet__swiper-header">Robinson R44 Raven II</h4>
          <p class="fleet__swiper-text">Śmigłowiec z silnikiem turbinowym posiadający 4 miejsca pasażerskie i dużą dodatkową przestrzeń bagażową, w którą zmieścisz 2-3 walizki kabinowe.</p>
          <img src="/src/assets/images/chopper2.jpg" alt="Chopper" />
        </div>
      </div>
      <div class="swiper-pagination-examples"></div>
    </div>
  </div>
</section>
<section class="fleet">
  <div class="fleet__logo">
    <img src="/src/assets/icons/wekter-icon.svg" alt="Wekter Icon" />
    <span>Air Taxi - wygoda i niezawodność</span>
  </div>
  <div class="fleet__container">
    <div class="fleet__choppers-info--big">
      <h3 class="headers headers--big headers--white">Oferujemy kompleksową usługę przewozu lotniczego śmigłowcami Robinson R44 oraz R66</h3>
      <p class="texts--small texts--width-big">
        Szybka możliwość transportu może odegrać kluczową rolę w podróżach służbowych, dlatego jesteśmy dostępni pod telefonem, adresem e-mail stale, a czas od wyceny do realizacji lotu jest skrócony
        do minimum
      </p>
    </div>
    <button class="button button--blue button--long">Pełna oferta air taxi</button>
  </div>
  <div class="fleet__advantages">
    <div class="fleet__advantages-content">
      <div class="fleet__advantages-element--active">
        <p class="fleet__advantages-header--active">
          <span>01</span>
          bezpieczeństwo i niezawodność
        </p>
      </div>
      <p class="fleet__advantages-text--active">
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      </p>
      <div class="fleet__advantages-element">
        <p class="fleet__advantages-header">
          <span>02</span>
          oszczędność czasu w podróży
        </p>
      </div>
      <p class="fleet__advantages-text">
        Podróżuj prestiżowo i bezpiecznie, omijając korki, a tym samym nie ryzykując spóźnień. Docieraj zawsze na czas i z najwyższą klasą. Możemy lecieć z oraz do dowolnie wybranego przez Ciebie
        miejsca: od dużego lotniska po trawnik przed Twoim domem lub firmą, o ile pozwolą nam na to przepisy prawa lotniczego.
        <br /><br />
        Czas oczekiwania śmigłowca na miejscu wykonywania operacji w obu kierunkach jest elastyczny, jeśli istnieje potrzeba powrotu dnia kolejnego, gwarantujemy organizację noclegu dla pilota oraz
        postoju helikoptera możliwie blisko, tak aby pozostawał dyspozycji klienta. Lotnictwo biznesowe to nie tylko oszczędność czasu, który w obecnych czasach jest szczególnie cenny, to także
        możliwość zaprezentowania się z jak najlepszej strony
      </p>
    </div>
    <div class="fleet__advantages-cities">
      <div class="fleet__advantages-cities-container">
        <div class="fleet__advantages-cities-header">
          <p class="fleet__advantages-cities-header-text">Wybierz miasto wylotu</p>
          <div class="fleet__advantages-cities-buttons">
            <p class="fleet__advantages-city--active">Wrocław</p>
            <p class="fleet__advantages-city">Warszawa</p>
            <div class="fleet__advantages-city-switch"></div>
          </div>
        </div>
        <div class="fleet__advantages-block">
          <table class="fleet__advantages-table--active">
            <tr>
              <th>Miasto docelowe</th>
              <th colspan="2">Czas lotu</th>
            </tr>
            <tr>
              <td>Warszawa</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Poznań</td>
              <td>0h 50m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Gdańsk</td>
              <td>2h 15m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Zakopane</td>
              <td>1h 40m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Szczecin</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Warszawa</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Warszawa</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Warszawa</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
          </table>
          <table class="fleet__advantages-table">
            <tr>
              <th>Miasto docelowe</th>
              <th colspan="2">Czas lotu</th>
            </tr>
            <tr>
              <td>Wrocław</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Poznań</td>
              <td>0h 50m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Gdańsk</td>
              <td>2h 15m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Zakopane</td>
              <td>1h 40m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Szczecin</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Warszawa</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Warszawa</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
            <tr>
              <td>Warszawa</td>
              <td>1h 45m</td>
              <td><span>Zamów</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
