<section class="offers">
  <div class="offers__container">
    <h4 class="offers__header--small">nasza oferta</h4>
    <h2 class="offers__header--big">Oferujemy loty widokowe, usługę air taxi oraz wiele więcej</h2>
    <div class="offers__buttons">
      <button class="offers__button--blue">Loty widokowe</button>
      <button class="offers__button--white">Loty biznesowe</button>
    </div>
    <ul class="offers__list">
      <li class="offers__list-element">
        <img src="/src/assets/images/loty-widokowe.png" alt="Loty widokowe" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Loty widokowe</p>
          <span>.01</span>
        </div>
      </li>
      <li class="offers__list-element">
        <img src="/src/assets/images/szkolenia-licencyjne.png" alt="Szkolenia Licencyjne" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Szkolenia Licencyjne</p>
          <span>.02</span>
        </div>
      </li>
      <li class="offers__list-element">
        <img src="/src/assets/images/zareczyny.png" alt="Zaręczyny" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Zaręczyny</p>
          <span>.03</span>
        </div>
      </li>
      <li class="offers__list-element">
        <img src="/src/assets/images/loty-widokowe.png" alt="Loty zapoznawcze" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Loty zapoznawcze</p>
          <span>.04</span>
        </div>
      </li>
      <li class="offers__list-element">
        <img src="/src/assets/images/szkolenia-licencyjne.png" alt="Loty grupowe" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Loty grupowe</p>
          <span>.05</span>
        </div>
      </li>
    </ul>
    <ul class="offers__list">
      <li class="offers__list-element">
        <img src="/src/assets/images/air-taxi.png" alt="Air Taxi" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Air Taxi</p>
          <span>.01</span>
        </div>
      </li>
      <li class="offers__list-element">
        <img src="/src/assets/images/cargo.png" alt="Cargo" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Cargo</p>
          <span>.02</span>
        </div>
      </li>
      <li class="offers__list-element">
        <img src="/src/assets/images/eventy-i-wydarzenia.png" alt="Eventy i Wydarzenia" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Eventy i wydarzenia</p>
          <span>.03</span>
        </div>
      </li>
      <li class="offers__list-element">
        <img src="/src/assets/images/loty-widokowe.png" alt="Udziały" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Udziały</p>
          <span>.04</span>
        </div>
      </li>
      <li class="offers__list-element">
        <img src="/src/assets/images/szkolenia-licencyjne.png" alt="Fotografowanie i filmowanie" />
        <div class="offers__list-container">
          <div>
            <img src="/src/assets/icons/arrow-side.png" alt="Arrow Right" />
          </div>
          <p>Fotografowanie i filmowanie</p>
          <span>.05</span>
        </div>
      </li>
    </ul>
  </div>
</section>
