<section class="offers">
  <div class="offers__container">
    <h4 class="headers headers--small headers--gray headers--padding-small">nasza oferta</h4>
    <h2 class="headers headers--big headers--margin-medium">Oferujemy loty widokowe, usługę air taxi oraz wiele więcej</h2>
    <div class="offers__buttons">
      <button class="button button--blue button--medium button--fonted">Loty widokowe</button>
      <button class="button button--white button--medium">Loty biznesowe</button>
    </div>
  </div>
</section>
