<section class="prices">
  <h4 class="headers headers--small headers--gray">Ceny voucherów</h4>
  <h2 class="headers headers--big headers--margin-small">Cennik lotów w formule Flight Sharing</h2>
  <div class="prices__buttons">
    <button class="button button--blue button--medium button--fonted">Loty widokowe</button>
    <button class="button button--white button--medium">Loty biznesowe</button>
  </div>
  <div class="prices__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="prices__swiper-title--big">Nazwa</div>
        <div class="prices__swiper-title--small">Długość lotu</div>
        <div class="prices__swiper-title--small">Czas trwania</div>
        <div class="prices__swiper-title--small">Charakterystyka</div>
        <div class="prices__swiper-title--small">Max liczba pasażerów</div>
        <div class="prices__swiper-title--small">Max waga pasażerów</div>
        <div class="prices__swiper-title--small">Cena</div>
      </div>
      <div class="swiper-slide">
        <div class="prices__ring-container">
          <div class="prices__ring--outside">
            <div class="prices__ring--inside">
              <div class="prices__ring-content">
                <p class="prices__ring-time">czas</p>
                <p class="prices__ring-value">00:15</p>
                <p class="prices__ring-minutes">minut</p>
              </div>
            </div>
          </div>
        </div>
        <div class="prices__swiper-text--big">
          Lot widokowy 15<br />
          minutowy
        </div>
        <div class="prices__swiper-text--small">około 55 km</div>
        <div class="prices__swiper-text--small">13-15 minut</div>
        <div class="prices__swiper-text--small">W tym czasie odbędziesz całkiem ciekawą wycieczkę.</div>
        <div class="prices__swiper-text--small">3</div>
        <div class="prices__swiper-text--small">250 kg</div>
        <div class="prices__swiper-price">
          <p>900 zł</p>
          <button class="prices__swiper-button">Kup teraz</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prices__ring-container">
          <div class="prices__ring--outside">
            <div class="prices__ring--inside">
              <div class="prices__ring-content">
                <p class="prices__ring-time">czas</p>
                <p class="prices__ring-value">00:20</p>
                <p class="prices__ring-minutes">minut</p>
              </div>
            </div>
          </div>
        </div>
        <div class="prices__swiper-text--big">
          Lot widokowy 20<br />
          minutowy
        </div>
        <div class="prices__swiper-text--small">około 55 km</div>
        <div class="prices__swiper-text--small">18-20 minut</div>
        <div class="prices__swiper-text--small">Zdążysz poczuć i zobaczyć więcej w czasie lotu.</div>
        <div class="prices__swiper-text--small">3</div>
        <div class="prices__swiper-text--small">250 kg</div>
        <div class="prices__swiper-price">
          <p>1 200 zł</p>
          <button class="prices__swiper-button">Kup teraz</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prices__ring-container">
          <div class="prices__ring--outside">
            <div class="prices__ring--inside">
              <div class="prices__ring-content">
                <p class="prices__ring-time">czas</p>
                <p class="prices__ring-value">00:30</p>
                <p class="prices__ring-minutes">minut</p>
              </div>
            </div>
          </div>
        </div>
        <div class="prices__swiper-text--big">
          Lot widokowy 30<br />
          minutowy
        </div>
        <div class="prices__swiper-text--small">około 110 km</div>
        <div class="prices__swiper-text--small">28-30 minut</div>
        <div class="prices__swiper-text--small">W czasie tego lotu zwiedzisz znaczącą część Karkonoszy.</div>
        <div class="prices__swiper-text--small">3</div>
        <div class="prices__swiper-text--small">250 kg</div>
        <div class="prices__swiper-price">
          <p>1 800 zł</p>
          <button class="prices__swiper-button">Kup teraz</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prices__ring-container">
          <div class="prices__ring--outside">
            <div class="prices__ring--inside">
              <div class="prices__ring-content">
                <p class="prices__ring-time">czas</p>
                <p class="prices__ring-value">00:40</p>
                <p class="prices__ring-minutes">minut</p>
              </div>
            </div>
          </div>
        </div>
        <div class="prices__swiper-text--big">
          Lot widokowy 40<br />
          minutowy
        </div>
        <div class="prices__swiper-text--small">około 150 km</div>
        <div class="prices__swiper-text--small">38-40 minut</div>
        <div class="prices__swiper-text--small">Podczas tej wycieczki odwiedzisz najbardziej znane zakątki.</div>
        <div class="prices__swiper-text--small">3</div>
        <div class="prices__swiper-text--small">250 kg</div>
        <div class="prices__swiper-price">
          <p>2 400 zł</p>
          <button class="prices__swiper-button">Kup teraz</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prices__ring-container">
          <div class="prices__ring--outside">
            <div class="prices__ring--inside">
              <div class="prices__ring-content">
                <p class="prices__ring-time">czas</p>
                <p class="prices__ring-value">00:50</p>
                <p class="prices__ring-minutes">minut</p>
              </div>
            </div>
          </div>
        </div>
        <div class="prices__swiper-text--big">
          Lot widokowy 50<br />
          minutowy
        </div>
        <div class="prices__swiper-text--small">około 180 km</div>
        <div class="prices__swiper-text--small">50-55 minut</div>
        <div class="prices__swiper-text--small">Podczas tej wycieczki odwiedzisz najbardziej znane zakątki.</div>
        <div class="prices__swiper-text--small">3</div>
        <div class="prices__swiper-text--small">250 kg</div>
        <div class="prices__swiper-price">
          <p>3 000 zł</p>
          <button class="prices__swiper-button">Kup teraz</button>
        </div>
      </div>
      <div class="swiper-slide"></div>
    </div>
    <div class="prices__swiper-gradient"></div>
    <div class="prices__swiper-supplement">
      <img src="/src/assets/icons/arrow-gradient.png" alt="Arrow Gradient" />
      <p>Przesuń w bok aby zobaczyć wszystkie produkty</p>
      <img src="/src/assets/icons/arrow-gradient.png" alt="Arrow Gradient" />
    </div>
    <div class="swiper-button-prev">
      <img src="/src/assets/icons/arrow-blue.svg" alt="Arrow Left" />
    </div>
    <div class="swiper-button-next">
      <img src="/src/assets/icons/arrow-blue.svg" alt="Arrow Right" />
    </div>
  </div>
  <div class="prices__business">
    <img class="prices__business-desktop-image" src="/src/assets/images/heli-guy.png" alt="Guy" />
    <img class="prices__business-mobile-image" src="/src/assets/images/heli-guy-mobile.png" alt="Guy" />
    <div class="prices__business-content">
      <h3 class="prices__business-header">Loty biznesowe</h3>
      <p class="prices__business-text">
        Podróżuj prestiżowo i bezpiecznie, omijając korki, a tym samym nie ryzykując spóźnień. Docieraj zawsze na czas i z najwyższą klasą. Możemy lecieć z oraz do dowolnie wybranego przez Ciebie
        miejsca: od dużego lotniska po trawnik przed Twoim domem lub firmą, o ile pozwolą nam na to przepisy prawa lotniczego.
      </p>
      <div class="prices__business-buttons">
        <button class="button button--blue button--large button--long">zamów lot</button>
        <button class="button button--white button--large button--long">Dowiedz się więcej</button>
      </div>
    </div>
  </div>
</section>
<section class="prices">
  <div class="prices__border"></div>
  <h4 class="headers headers--small headers--gray">Lokalizacje heliportów</h4>
  <h2 class="headers headers--big headers--margin-semi-medium">Nasze heliporty to komfortowe warunki dla śmigłowców i ich pasażerów</h2>
  <p class="prices__header-text">
    Pakiety godzin to idealne rozwiązanie dla Twojej firmy, umożliwia wygodne korzystanie z AirTaxi z priorytetowym dostępem do śmigłowca. Nie musisz kupować śmigłowca, aby poczuć się jak jego
    właściciel.
  </p>
  <div class="prices__localizations">
    <div class="prices__localization">
      <img class="prices__localization-image" src="/src/assets/images/sosnowka.png" alt="Sosnówka" />
      <div class="prices__localization-content">
        <h4 class="prices__localization-header">Sosnówka</h4>
        <p class="prices__localization-text">Miejsce bazowania i lądowisko macierzyste naszych helikopterów.</p>
        <p class="prices__localization-link">
          Zobacz więcej
          <span>
            <img src="/src/assets/icons/arrow-side.svg" alt="Arrow" />
          </span>
        </p>
      </div>
    </div>
    <div class="prices__localization">
      <img class="prices__localization-image" src="/src/assets/images/polkowice.png" alt="Polkowice" />
      <div class="prices__localization-content">
        <h4 class="prices__localization-header">Polkowice</h4>
        <p class="prices__localization-text">Miejsce bazowania i lądowisko macierzyste naszych helikopterów.</p>
        <p class="prices__localization-link">
          Zobacz więcej
          <span>
            <img src="/src/assets/icons/arrow-side.svg" alt="Arrow" />
          </span>
        </p>
      </div>
    </div>
    <div class="prices__localization">
      <img class="prices__localization-image" src="/src/assets/images/wroclaw.png" alt="Wrocław" />
      <div class="prices__localization-content">
        <h4 class="prices__localization-header">Wrocław</h4>
        <p class="prices__localization-text">Miejsce bazowania i lądowisko macierzyste naszych helikopterów.</p>
        <p class="prices__localization-link">
          Zobacz więcej
          <span>
            <img src="/src/assets/icons/arrow-side.svg" alt="Arrow" />
          </span>
        </p>
      </div>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="prices__swiper-localization-image" src="/src/assets/images/sosnowka.png" alt="Sosnówka" />
        <div class="prices__swiper-localization-content">
          <h4 class="prices__swiper-localization-header">Sosnówka</h4>
          <p class="prices__swiper-localization-text">Miejsce bazowania i lądowisko macierzyste naszych helikopterów.</p>
          <p class="prices__swiper-localization-link">
            Zobacz więcej <span><img src="/src/assets/icons/arrow-side.svg" alt="Arrow" /></span>
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <img class="prices__swiper-localization-image" src="/src/assets/images/polkowice.png" alt="Polkowice" />
        <div class="prices__swiper-localization-content">
          <h4 class="prices__swiper-localization-header">Polkowice</h4>
          <p class="prices__swiper-localization-text">Miejsce bazowania i lądowisko macierzyste naszych helikopterów.</p>
          <p class="prices__swiper-localization-link">
            Zobacz więcej <span><img src="/src/assets/icons/arrow-side.svg" alt="Arrow" /></span>
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <img class="prices__swiper-localization-image" src="/src/assets/images/wroclaw.png" alt="Wrocław" />
        <div class="prices__swiper-localization-content">
          <h4 class="prices__swiper-localization-header">Wrocław</h4>
          <p class="prices__swiper-localization-text">Miejsce bazowania i lądowisko macierzyste naszych helikopterów.</p>
          <p class="prices__swiper-localization-link">
            Zobacz więcej <span><img src="/src/assets/icons/arrow-side.svg" alt="Arrow" /></span>
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination-localizations"></div>
    <div class="prices__chopper">
      <img src="/src/assets/images/chopper-buy1.jpg" alt="Chopper" />
      <div class="prices__chopper-content">
        <h4 class="prices__chopper-header">Robinson R66 Turbine</h4>
        <div class="prices__chopper-info">
          <p>10H</p>
          <p>1375€<span>/godz</span></p>
        </div>
        <div class="prices__chopper-info">
          <p>20H</p>
          <p>1350€<span>/godz</span></p>
        </div>
        <div class="prices__chopper-info">
          <p>30H</p>
          <p>1325€<span>/godz</span></p>
        </div>
      </div>
    </div>
    <div class="prices__chopper">
      <img src="/src/assets/images/chopper-buy2.jpg" alt="Chopper" />
      <div class="prices__chopper-content">
        <h4 class="prices__chopper-header">Robinson R44 Raven II</h4>
        <div class="prices__chopper-info">
          <p>10H</p>
          <p>825€<span>/godz</span></p>
        </div>
        <div class="prices__chopper-info">
          <p>20H</p>
          <p>800€<span>/godz</span></p>
        </div>
        <div class="prices__chopper-info">
          <p>30H</p>
          <p>775€<span>/godz</span></p>
        </div>
      </div>
    </div>
    <div class="prices__swiper-choppers">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/src/assets/images/chopper-buy1.jpg" alt="Chopper" />
          <div class="prices__swiper-chopper-content">
            <h4 class="prices__swiper-chopper-header">Robinson R66 Turbine</h4>
            <div class="prices__swiper-chopper-info">
              <p>10H</p>
              <p>1375€<span>/godz</span></p>
            </div>
            <div class="prices__swiper-chopper-info">
              <p>20H</p>
              <p>1350€<span>/godz</span></p>
            </div>
            <div class="prices__swiper-chopper-info">
              <p>30H</p>
              <p>1325€<span>/godz</span></p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="/src/assets/images/chopper-buy2.jpg" alt="Chopper" />
          <div class="prices__swiper-chopper-content">
            <h4 class="prices__swiper-chopper-header">Robinson R44 Raven II</h4>
            <div class="prices__swiper-chopper-info">
              <p>10H</p>
              <p>825€<span>/godz</span></p>
            </div>
            <div class="prices__swiper-chopper-info">
              <p>20H</p>
              <p>800€<span>/godz</span></p>
            </div>
            <div class="prices__swiper-chopper-info">
              <p>30H</p>
              <p>775€<span>/godz</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-choppers"></div>
    </div>
  </div>
</section>
