<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="swiper__image" src="/images/slide1.png" alt="Slide 1" />
      <div class="swiper__gradient"></div>
      <div class="swiper__content">
        <h1 class="swiper__header">Latanie to nasza pasja</h1>
        <p class="swiper__text">Lot helikopterem to przestrzeń, wolność, piękne widoki i niemal nieograniczone możliwości przemieszczania się w dowolnym kierunku</p>
        <div class="swiper__buttons">
          <button class="button button--blue">Voucher na przelot</button>
          <button class="button button--black">Więcej o nas</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <img class="swiper__image" src="/images/slide2.png" alt="Slide 2" />
      <div class="swiper__gradient"></div>
      <div class="swiper__content">
        <h1 class="swiper__header">Air Taxi dla twojego biznesu</h1>
        <p class="swiper__text">Oferujemy kompleksową usługę przewozu lotniczego śmigłowcami Robinson R44 oraz R66. Komfort podróży w niemal każdych warunkach.</p>
        <div class="swiper__buttons">
          <button class="button button--blue">Zamów lot</button>
          <button class="button button--black">Czytaj więcej</button>
        </div>
      </div>
    </div>
  </div>
</div>
