<section class="introduction">
  <h4 class="introduction__header--small">loty helikopterem</h4>
  <h2 class="introduction__header--big">Niezapomniane Loty helikopterem - komfort, bezpieczeństwo i profesjonalizm</h2>
  <div class="introduction__container">
    <div class="introduction__informations">
      <div class="introduction__text-content">
        <p class="introduction__text--big">Każdy lot naszymi śmigłowcami to wyjątkowe doświadczenie, a my dbamy, żeby zostało w pamięć na dłużej.</p>
        <p class="introduction__text--small">
          Latamy helikopterami Robinson R44, na pokładzie których w komfortowych warunkach oprócz pilota podróżować mogą aż 3 osoby. Latamy wszędzie tam, gdzie pozwala nam na to prawo lotnicze.
          <br />
          <br />
          Począwszy od działu obsługi, przez personel naziemny aż po pilotów – możesz liczyć na zawsze najwyższą jakość i profesjonalizm świadczonych przez nas usług.
        </p>
        <button class="button__blue">Kup Voucher</button>
      </div>
      <div class="introduction__mosaic">
        <img class="introduction__mosaic--desktop" src="/src/assets/images/mosaic.png" alt="Mosaic" />
        <img class="introduction__mosaic--mobile" src="/src/assets/images/mosaic1.png" alt="Mosaic" />
        <img class="introduction__mosaic--mobile" src="/src/assets/images/mosaic2.png" alt="Mosaic" />
      </div>
    </div>
    <div class="introduction__statistics">
      <div class="introduction__statistics-block">
        <div class="introduction__statistics-block-icon">
          <img src="/src/assets/icons/clock.png" alt="Clock Icon" />
        </div>
        <div class="introduction__statistics-block-text">
          <p>5,000+</p>
          <p>Wylatanych godzin</p>
        </div>
      </div>
      <div class="introduction__statistics-block">
        <div class="introduction__statistics-block-icon">
          <img src="/src/assets/icons/helicopter.png" alt="Clock Icon" />
        </div>
        <div class="introduction__statistics-block-text">
          <p>3</p>
          <p>Lądowiska</p>
        </div>
      </div>
      <div class="introduction__statistics-block">
        <div class="introduction__statistics-block-icon">
          <img src="/src/assets/icons/star.png" alt="Clock Icon" />
        </div>
        <div class="introduction__statistics-block-text">
          <p>450+</p>
          <p>Zadowolonych klientów</p>
        </div>
      </div>
    </div>
  </div>
</section>
