<header class="header">
    <nav class="header__nav">
      <a href="/">
        <img src="/src/assets/images/wekter_logo.png" alt="Wekter Logo" />
      </a>
      <div class="header__container">
        <ul class="header__list">
          <li>
            Oferta <span><img src="/src/assets/icons/arrow-down.svg" alt="Arrow Icon" /></span>
            <div class="header__offers">
              <div class="header__offer">
                <div class="header__offer-header">
                  <div>
                    <img src="/src/assets/icons/briefcase.svg" alt="Briefcase Icon" />
                  </div>
                  <h3>Biznes</h3>
                </div>
                <ul class="header__offer-list">
                  <li>
                    Air Taxi <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Cargo <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Eventy i wydarzenia <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Udziały <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Fotografowanie i filmowanie <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                </ul>
              </div>
              <div class="header__offer">
                <div class="header__offer-header">
                  <div>
                    <img src="/src/assets/icons/avalanche.svg" alt="Avalanche Icon" />
                  </div>
                  <h3>loty widokowe</h3>
                </div>
                <ul class="header__offer-list">
                  <li>
                    Loty widokowe <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Loty grupowe <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Loty zapoznawcze <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Zaręczyny <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Szkolenia licencyjne dla pilotów <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>O nas</li>
          <li>Vouchery</li>
          <li>
            Heliporty <span><img src="/src/assets/icons/arrow-down.svg" alt="Arrow Icon" /></span>
            <div class="header__offers">
              <div class="header__offer">
                <div class="header__offer-header">
                  <div>
                    <img src="/src/assets/icons/briefcase.svg" alt="Briefcase Icon" />
                  </div>
                  <h3>Lokalizacje</h3>
                </div>
                <ul class="header__offer-list">
                  <li>
                    Sosnówka <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Polkowice <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                  <li>
                    Wrocław <span><img src="/src/assets/icons/arrow-side-header.svg" alt="Arrow Icon" /></span>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>Blog</li>
          <li>Kontakt</li>
        </ul>
      </div>
      <div class="header__buttons">
        <div class="header__switch">
          <button class="header__button--active">Loty widokowe</button>
          <button class="header__button">Loty biznesowe</button>
          <div class="header__button--slider"></div>
        </div>
        <img src="/src/assets/icons/flag.png" alt="Flag Icon" />
        <img src="/src/assets/icons/profile.svg" alt="Profile Icon" />
        <div class="header__icon-container">
          <img src="/src/assets/icons/shopping-bag.svg" alt="Shopping Bag Icon" />
        </div>
        <img id="menu-icon" src="/src/assets/icons/menu.svg" alt="Menu Icon" />
      </div>
      <div class="header__mobile">
        <div class="header__mobile-top">
          <div class="header__mobile-top-nav">
            <a href="/">
              <img src="/src/assets/images/wekter_logo.png" alt="Wekter Logo" />
            </a>
            <div class="header__mobile-icons">
              <img src="/src/assets/icons/profile.svg" alt="Profile Icon" />
              <img src="/src/assets/icons/shopping-bag.svg" alt="Shopping Bag Icon" />
              <img id="close-icon" src="/src/assets/icons/close.svg" alt="Close Icon" />
            </div>
          </div>
          <div class="header__mobile-top-main">
            <ul>
              <li>Strona główna</li>
              <li id="mobile-offer">
                Oferta <span><img src="/src/assets/icons/arrow-mobile.svg" alt="Arrow" /></span>
                <div class="header__mobile-offer">
                  <p id="mobile-offer-close">
                    <span><img src="/src/assets/icons/arrow-mobile.svg" alt="Arrow Icon" /></span>Oferta
                  </p>
                  <ul>
                    <li>Air Taxi</li>
                    <li>Loty widokowe</li>
                    <li>Cargo</li>
                    <li>Eventy i wydarzenia</li>
                    <li>Loty grupowe</li>
                    <li>Zaręczyny</li>
                    <li>Loty zapoznawcze</li>
                    <li>Fotografowanie i filmowanie</li>
                    <li>Szkolenia do licencji</li>
                  </ul>
                </div>
              </li>
              <li>Vouchery</li>
              <li id="mobile-heliports">
                Heliporty <span><img src="/src/assets/icons/arrow-mobile.svg" alt="Arrow" /></span>
                <div class="header__mobile-heliports">
                  <p id="mobile-heliports-close">
                    <span><img src="/src/assets/icons/arrow-mobile.svg" alt="Arrow Icon" /></span>Heliporty
                  </p>
                  <ul>
                    <li>Sosnówka</li>
                    <li>Polkowice</li>
                    <li>Wrocław</li>
                  </ul>
                </div>
              </li>
              <li>Blog</li>
              <li>Kontakt</li>
            </ul>
          </div>
        </div>
        <div class="header__mobile-bottom">
          <div class="header__mobile-switch">
            <button class="header__mobile-button--active">Loty widokowe</button>
            <button class="header__mobile-button">Loty biznesowe</button>
            <div class="header__mobile-button--slider"></div>
          </div>
          <div class="header__mobile-footer">
            <div class="header__mobile-languages">
              <div class="header__mobile-language--active">EN</div>
              <div class="header__mobile-language">PL</div>
            </div>
            <div class="header__mobile-rights">Copyright © 2025 by Wekter Helicopters. All rights reserved.</div>
          </div>
        </div>
      </div>
    </nav>
  </header>